*{
  margin: 0;
  padding: 0;
  font-size:14px;
  color:#999;
  list-style: none;
}
.login{
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background:url("../../images/login1.jpg") no-repeat center center;
  background-size: cover;
  overflow: hidden;
  >h1{
    width:100%;
    position: absolute;
    top:50%;
    text-align: center;
    margin-top: -200px;
    color:#fff;
  }
  .landing_register{
    width:400px;
    height:300px;
    position: absolute;
    left:50%;
    top:50%;
    margin-left: -200px;
    margin-top: -100px;
    background: #ccc;
    opacity: 0.8;
    .login_li{
      width:100%;
      a{
        display: block;
        width:100%;
        text-align: center;
        background:#F66;
      }
    }
  }
  .login_form{
    padding-top:25px;
    padding-left: 10px;
    padding-right: 50px;
    color: #000;
  }
}

//公用样式
.bread_style{
  margin:10px;
  margin-bottom:20px;
}
.table_width{
  width:90%;
  margin:0 auto;
}
.ant-modal-footer{
  border-top:transparent !important;
  text-align: center !important;
}
.ant-form-item-control{
  text-align: center;
}
.table-operations {
  margin-bottom: 16px;
  margin-left: 5%;
}
.ant-tree{
  text-align:left;
}
.shop_form .ant-form-item-control{
  text-align: left;
  margin-left: 10px;
}
.ant-form-item-control button{
  margin:10px 0;
}
ul.actions{
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  z-index:10000;
  width:100%;
  background:#2db7f5;
  opacity: 0.7;
  display: none;
}
ul.actions li{
  float: left;
  width:20%;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
