.main .main_header{
  width:100%;
  height:100px;
  background: #EDEEF0;
}
.main .main_header:after{
  content:'';
  clear:both;
}
.main .main_header .logo{
  width:235px;
  height: 100px;
  float:left;
  margin-right:-200px;
  text-align: center;
  line-height: 100px;
}
.main .main_header .header_menu{
  height: 100px;
  min-width:450px;
  margin:0 235px;
}
.main .main_header .header_menu>ul{
  width:100%;
  overflow: hidden;
}
.main .main_header .header_menu>ul>li{
  float: left;
  width:60px;
  height:100px;
  line-height:100px;
  margin-right:50px;
  text-align: center;
  cursor: pointer;
}
.main .main_header .personage{
  width:200px;
  height: 100px;
  float: right;
  margin-left:-235px;
}
.main .main_header .personage>p{
    width:100px;
    height:30px;
    border:1px solid #7b007b;
    margin: 0 auto;
    margin-top:35px;
    line-height:30px;
    text-align:center;
}
.main .personage p{
  cursor: pointer;
}

.tab1 .main_menu{
  float: left;
}
.tab1 .main_tab{
  width:auto;
}
.tab1 .ant-tabs-nav{
  margin-left: 50px;
}

