.code-box-demo .ant-row {
  margin-left: -8px;
  margin-right: -8px;
}
.code-box-demo .ant-row > div {
  padding: 0 4px;
}
.code-box-demo .ant-card-body {
  padding: 5px;
}
.custom-image img {
  display: block;
}
.custom-card p {
  color: #999;
}
.custom-card h3{
  font-size:14px;
  margin-top:5px;
  margin-bottom:5px;
}
.code-box-demo{
  position: relative;
}
.code-box-demo .show1{
  display: block;
}
.fontp_size{
  font-size:12px;
}