.carstyle{
  border-radius: 5px;
}
.carstyle .car_item img{
  width:100%;
  position: relative;
}
.carstyle .car_item h5{
  position: absolute;
  margin-left:5px;
  bottom: 5px;
  color:#fff;
  z-index:999;
}
.ant-carousel .slick-dots {
  text-align: right !important;
  padding-right:5px;
}

.ul_box{
  position: relative;
}
.ul_box .show1{
  display: block;
}

