.fmodul img{
  display: block;
  width:100%;
}
.fmodul div{
 padding:5px;
}
.fmodul{
  position: relative;
}
.fmodul .show1{
  display: block;
}
.fmodul img{
  display:block;
}
.firstImge img{
  margin-top: 5px;
}
.twoImg img:nth-child(1){
  margin-bottom: 10px;
}
